{% extends 'blog/base.html' %}

{% block content %}



<form action="{% url "contact" %}" method="post">
        {% csrf_token %}
        <label for="name">Nom</label>
        <input type="text" name="name" id="name" placeholder="Entrez votre nom" required><br>
        <label for="Email">Email</label>
        <input type="email" name="email" placeholder="Entrez votre Email"><br>
        <label for="">message</label>
        <input type="text" name="message" placeholder="Entrez votre message"><br><br>

        <button type="submit">envoyer</button>
</form>
    
{% endblock %}